<div class="row">
    <div class="col order-first d-flex align-items-center justify-content-center">
      <img src="assets/IMG_8267.JPG" class="rounded float-start img-fluid" [ngStyle]="{'maxHeight':'180px', 'marginRight': '10px'}">
    </div>
    <div class="card">
    <div class="col">
      
        <div class="card-body">
          <h3 class="card-title">{{name}}</h3>
          <h6 class="card-subtitle mb-2 text-muted "[ngStyle]="{'color':'gray'}">Graduate in Computer Science | Full Stack Developer</h6>
          <div class="col order-last">
            <h6><i class="fas fa-map-marker-alt"></i> Location:Fairfax, VA</h6>
            <a href = "mailto: mdepa@gmu.edu">
                <i class="far fa-envelope"></i> mdepa@gmu.edu</a>
        </div>
          <a href="https://www.linkedin.com/in/madhuri-reddy-782ba8184/">
            <img src="assets/LinkedIn_logo_initials.png" class="img-fluid" [ngStyle]="{'max-height': '20px'}" />
          </a>
          |
          <a href="https://github.com/m-reddy2203">
            <img src="assets/githuv.png" class="img-fluid" [ngStyle]="{'max-height': '20px'}" />
          </a>
        </div>
      </div>
    
   
    </div>
</div>


  